#sub{min-height: 700px;}

#subVisual{position: relative;padding: 11% 0 6%;text-align: center;z-index: 50;}
#subVisual .visualbg{width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: -10;overflow: hidden;} 
#subVisual .visualbg:before{content: "";position: absolute;top: 0;right: 0;bottom: 0;left: 0;width: 100%;height: 100%;transform: scale(1.2);transform-origin: center center;animation: scale 1s 0.5s forwards;}
#subVisual .visualbg.bg01:before{background: url(../images/sub/bg_subVisual01.jpg) no-repeat center center / cover;}
#subVisual .visualbg.bg02:before{background: url(../images/sub/bg_subVisual02.jpg) no-repeat center center / cover;}
#subVisual .visualbg.bg03:before{background: url(../images/sub/bg_subVisual03.jpg) no-repeat center center / cover;}
#subVisual .visualtext p{font-size: 24px;color: #FFF;font-weight: 350;line-height: 35px;letter-spacing: -1px;}
#subVisual .visualtext h2{overflow: hidden;margin: 19px 0 62px;font-size: 60px;color: #FFF;font-weight: 700;line-height: 70px;letter-spacing: -1px;}
#subVisual .lnb{display: flex;justify-content: center;align-items: center;}
#subVisual .lnb li a, #subVisual .lnb li button{font-size: 15px;color: rgba(255, 255, 255, 0.7);font-weight: 500;line-height: normal;letter-spacing: -0.6px;}
#subVisual .lnb li{position: relative;}
#subVisual .lnb > li:after{content: url(../images/sub/icon_arrow_left.svg);position: absolute;top: 50%;right: 0;transform: translateY(-50%);}
#subVisual .lnb > li:last-of-type:after{ display: none;}
#subVisual .lnb li a{display: inline-block;}
#subVisual .lnb > li > a, #subVisual .lnb li button{display: block;padding: 0 39px 0 26px;vertical-align: middle;}
#subVisual .lnb > li > a img{vertical-align: 0;}
#subVisual .lnb li button{ background: none;border: none;padding-right: 42px;position: relative;cursor: pointer;}
#subVisual .lnb li button:after{content: url(../images/sub/icon_arrow_depth.svg);position: absolute;top: 50%;right: 0;transform: translateY(-50%);transition: all 0.5s;}
#subVisual .lnb .depth02{display: none;min-width: fit-content;min-width: 155px;width: 100%;position: absolute;top: 31px;left: 50%;transform: translateX(-50%);padding: 16px 22px;background: #AD9F35;border-radius: 10px;box-sizing: border-box;text-align: left;z-index: 50;}
#subVisual .lnb .depth02 li{overflow: hidden;}
#subVisual .lnb .depth02 li + li{margin-top: 10px;}
#subVisual .lnb .depth02 li a{position: relative;font-size: 14px;color: rgba(255, 255, 255, 0.5);font-weight: 700;line-height: 26px;letter-spacing: -1px;transition: all 0.5s;}
#subVisual .lnb .depth02 li a:after{content: "";position: absolute;left: 0;bottom: 0;display: block;width: 0;height: 1px;background: #fff;transition: all 0.3s;}
#subVisual .lnb .depth02 li a:hover, #subVisual .lnb .depth02 li.on a{color: #fff;}
#subVisual .lnb .depth02 li a:hover:after, #subVisual .lnb .depth02 li.on a:after{width: 100%;}
#subVisual .lnb li.active button:after{transform: translateY(-50%) scaleY(-1);}

.subContent{min-height: 500px;padding: 80px 0 0;box-sizing: border-box;}
.subContent .inner{max-width: 1500px;width: 100%;margin: 0 auto;}
.subContent .subTitle{overflow: hidden;font-size: 48px;color: #000;font-weight: 700;line-height: normal;text-align: center;}

@media screen and (max-width: 1499px){

    .subContent .inner{padding: 0 20px;box-sizing: border-box;}

}

@media screen and (max-width: 1199px){
   
}

@media screen and (max-width: 767px){

    #subVisual{padding: 33% 0 18%;}
    #subVisual .visualbg.bg01:before{background-image: url(../images/sub/bg_subVisual01_m.jpg);}
    #subVisual .visualbg.bg02:before{background-image: url(../images/sub/bg_subVisual02_m.jpg);}
    #subVisual .visualbg.bg03:before{background-image: url(../images/sub/bg_subVisual03_m.jpg);}
    #subVisual .visualtext p{font-size: 16px;line-height: 20px;}
    #subVisual .visualtext h2{margin: 10px 0 30px;font-size: 40px;line-height: 40px;}
    #subVisual .lnb li a, #subVisual .lnb li button{font-size: 14px;}
    #subVisual .lnb > li > a, #subVisual .lnb li button{padding: 0 30px 0 15px;}
    #subVisual .lnb .depth02{min-width: 130px;padding: 10px 10px 10px 17px;}
    #subVisual .lnb .depth02 li a{font-size: 13px;}

    .subContent{padding: 40px 0 0;}
    .subContent .subTitle{font-size: 30px;}
}

@keyframes scale{ 
	0%{transform: scale(1.2);}
	100%{transform: scale(1);}
}