#sub{min-height: 700px;}

.btnGroup{text-align: center;}
.btn{display: inline-block;font-size: 18px;font-weight: 500;line-height: 150%;letter-spacing: -1px;text-align: center;-webkit-transition: .3s;transition: .3s;}
.btnRound{border-radius: 50px;}
.btnGoldLine{border: 1px solid #AD9F35;background: #FFF;color: #AD9F35;}
.btnGoldLine:hover{background: #AD9F35;color: #FFF;}
.btn i{display: inline-block;margin-left: 10px;background-position: center;background-size: 100%;background-repeat: no-repeat;}
.btn i.iconArrow{width: 19px;height: 16px;background-image: url(../images/sub/icon_arrow_right_gold.svg);vertical-align: -2px;}
.btn:hover i.iconArrow{background-image: url(../images/sub/icon_arrow_right_white.svg);}
.btn i.iconDown{width: 17px;height: 21px;background-image: url(../images/sub/icon_down_gold.svg);vertical-align: -4px;}
.btn:hover i.iconDown{background-image: url(../images/sub/icon_arrow_down_white.svg);}
.W440{width: 440px;}
.H70{height: 70px;line-height: 70px;}

#subVisual{position: relative;padding: 11% 0 6%;text-align: center;z-index: 50;}
#subVisual .visualbg{width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: -10;overflow: hidden;} 
#subVisual .visualbg:before{content: "";position: absolute;top: 0;right: 0;bottom: 0;left: 0;width: 100%;height: 100%;transform: scale(1.2);transform-origin: center center;animation: scale 1s 0.5s forwards;}
#subVisual .visualbg.bg01:before{background: url(../images/sub/bg_subVisual01.jpg) no-repeat center center / cover;}
#subVisual .visualbg.bg02:before{background: url(../images/sub/bg_subVisual02.jpg) no-repeat center center / cover;}
#subVisual .visualbg.bg03:before{background: url(../images/sub/bg_subVisual03.jpg) no-repeat center center / cover;}
#subVisual .visualtext p{font-size: 24px;color: #FFF;font-weight: 350;line-height: 35px;letter-spacing: -1px;}
#subVisual .visualtext h2{overflow: hidden;margin: 19px 0 62px;font-size: 60px;color: #FFF;font-weight: 700;line-height: 70px;letter-spacing: -1px;}
#subVisual .lnb{display: flex;justify-content: center;align-items: center;}
#subVisual .lnb li a, #subVisual .lnb li button{font-size: 15px;color: rgba(255, 255, 255, 0.7);font-weight: 500;line-height: normal;letter-spacing: -0.6px;}
#subVisual .lnb li{position: relative;}
#subVisual .lnb > li:after{content: url(../images/sub/icon_arrow_left.svg);position: absolute;top: 50%;right: 0;transform: translateY(-50%);}
#subVisual .lnb > li:last-of-type:after{ display: none;}
#subVisual .lnb li a{display: inline-block;}
#subVisual .lnb > li > a, #subVisual .lnb li button{display: block;padding: 0 39px 0 26px;vertical-align: middle;}
#subVisual .lnb > li > a img{vertical-align: 0;}
#subVisual .lnb li button{ background: none;border: none;padding-right: 42px;position: relative;cursor: pointer;}
#subVisual .lnb li button:after{content: url(../images/sub/icon_arrow_depth.svg);position: absolute;top: 50%;right: 0;transform: translateY(-50%);transition: all 0.5s;}
#subVisual .lnb .depth02{display: none;min-width: fit-content;min-width: 155px;width: 100%;position: absolute;top: 31px;left: 50%;transform: translateX(-50%);padding: 16px 22px;background: #AD9F35;border-radius: 10px;box-sizing: border-box;text-align: left;z-index: 50;}
#subVisual .lnb .depth02 li{overflow: hidden;}
#subVisual .lnb .depth02 li + li{margin-top: 10px;}
#subVisual .lnb .depth02 li a{position: relative;font-size: 14px;color: rgba(255, 255, 255, 0.5);font-weight: 700;line-height: 26px;letter-spacing: -1px;transition: all 0.5s;}
#subVisual .lnb .depth02 li a:after{content: "";position: absolute;left: 0;bottom: 0;display: block;width: 0;height: 1px;background: #fff;transition: all 0.3s;}
#subVisual .lnb .depth02 li a:hover, #subVisual .lnb .depth02 li.on a{color: #fff;}
#subVisual .lnb .depth02 li a:hover:after, #subVisual .lnb .depth02 li.on a:after{width: 100%;}
#subVisual .lnb li.active button:after{transform: translateY(-50%) scaleY(-1);}

.subContent{min-height: 500px;padding: 80px 0 0;box-sizing: border-box;}
.subContent .inner{max-width: 1500px;width: 100%;margin: 0 auto;}
.subContent .subTitle{overflow: hidden;font-size: 48px;color: #000;font-weight: 700;line-height: normal;text-align: center;}

.ceoPage{position: relative;padding: 70px 0 200px;box-sizing: border-box;overflow: hidden;}
.ceoPage .bgGray{padding: 100px 0 94px;background-color: #F9F9F9;}
.ceoPage .bgGray .inner{position: relative;}
.ceoPage .ceoMessages .mainColorBox{display: flex;align-items: flex-end;justify-content: center;width: 120px;height: 120px;padding: 0 0 18px;border-radius: 0px 30px;background: #AD9F35;box-sizing: border-box;font-size: 18px;color: #FFF;font-weight: 700;line-height: 20px;letter-spacing: -0.6px;}
.ceoPage .ceoMessages .textLg{margin-top: 41px;color: #222;font-size: 42px;font-weight: 100;line-height: 55px;letter-spacing: -0.6px;word-break: keep-all;}
.ceoPage .ceoMessages .textMd{margin-top: 41px;color: #444;font-size: 20px;font-weight: 400;line-height: normal;letter-spacing: -0.6px;word-break: keep-all;}
.ceoPage .ceoImg{position: absolute;right: 0;top: 0;}
.ceoPage .ceoImg .markS{content: "";position: absolute;top: 34px;left: -112px;width: 144px;height: 249px;background-image: url(../images/sub/mark_S.png);background-position: center;background-repeat: no-repeat;z-index: 1;}
.ceoPage .ceoImg .markJ{content: "";position: absolute;bottom: -61px;right: 14px;width: 74px;height: 208px;background-image: url(../images/sub/mark_J.png);background-position: center;background-repeat: no-repeat;z-index: 1;}
.ceoPage .ceoImg .imgBox01{width: auto;border-radius: 20px;overflow: hidden;}
.ceoPage .ceoImg .imgBox01 img{vertical-align: middle;}
.ceoPage .ceoImg .imgBox02{position: absolute;bottom: -50px;left: -262px;}
.ceoPage .ceoImg .ceoWrap{position: absolute;bottom: 30px;right: 150px;min-width: 320px;}
.ceoPage .ceoImg .ceoWrap .ceoInfo{display: flex;flex-direction: row;flex-wrap: nowrap;align-items: center;}
.ceoPage .ceoImg .ceoWrap .ceoInfo .name{font-size: 13px;color: #FFF;font-weight: 400;line-height: normal;letter-spacing: -0.6px;}
.ceoPage .ceoImg .ceoWrap .ceoInfo .name b{display: block;font-size: 18px;font-weight: 700;}
.ceoPage .ceoImg .ceoWrap .ceoInfo .career{position: relative;padding-left: 10px;margin-left: 10px;color: rgba(255, 255, 255, 0.7);font-size: 12px;font-weight: 400;line-height: normal;letter-spacing: -0.6px;}
.ceoPage .ceoImg .ceoWrap .ceoInfo .career:before{content: "";position: absolute;left: 0;top: -2px;display: block;width: 1px;height: 40px;background-color: rgba(255, 255, 255, 0.2);}
.ceoPage .ceoImg .ceoWrap .ceoList{padding: 15px 15px 13px;margin-top: 12px;border-radius: 10px;border: 1px solid rgba(226, 226, 226, 0.20);background: rgba(248, 248, 248, 0.15);box-sizing: border-box;}
.ceoPage .ceoImg .ceoWrap .ceoList .checkList li{padding-left: 18px;background-image: url(../images/sub/icon_ceo_list.svg);background-position: left center;background-repeat: no-repeat;color: #FFF;font-size: 14px;font-weight: 400;line-height: 24px;letter-spacing: -0.7px;}
.ceoPage .ceoImg .ceoWrap .ceoList .dotList {margin-top: 5px;}
.ceoPage .ceoImg .ceoWrap .ceoList .dotList li{color: #FFF;font-size: 12px;font-weight: 400;line-height: 20px;letter-spacing: -0.7px;}
.ceoPage .comment{max-width: 1500px;margin: 70px auto 0;padding: 0 20px;box-sizing: border-box;}
.ceoPage .comment .textSm{color: #666;font-size: 16px;font-weight: 400;line-height: 26px;letter-spacing: -0.6px;word-break: keep-all;}
.ceoPage .comment .sign{margin-top: 57px;font-size: 13px;color: #666;font-weight: 400;line-height: normal;letter-spacing: -0.6px;}
.ceoPage .comment .sign span{margin-left: 5px;color: #222;font-size: 40px;}

.specialcompanyPage{padding-bottom: 200px;overflow: hidden;}
.specialcompanyPage .bgGray{position: relative;margin-top: 70px;margin-bottom: 176px;padding: 100px 0 124px;background: #F9F9F9;box-sizing: border-box;}
.specialcompanyPage .bgGray:after{content: "";position: absolute;bottom: -106px;left: 50%;transform: translateX(-50%);width: 500px;height: 186px;background-image: url(../images/sub/after_specialcompanyPage.png);background-position: center;background-repeat: no-repeat;}
.specialcompanyPage .centerText{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);display: flex;flex-direction: column;align-items: center;justify-content: center;flex-wrap: nowrap;width: 34%;padding: 17% 0;background: url(../images/sub/bg_specialCompany.png) no-repeat center center / contain;text-align: center;z-index: 10;}
.specialcompanyPage .centerText p{font-size: 22px;color: #222;font-weight: 400;line-height: 150%;letter-spacing: -0.6px;}
.specialcompanyPage .centerText h5{font-size: 40px;color: #AD9F35;font-weight: 700;line-height: 125%;letter-spacing: -0.6px;}
.specialcompanyList{display: flex;flex-wrap: wrap;justify-content: space-between;align-items: flex-start;flex-direction: row;align-content: space-between;min-height: 700px;}
.specialcompanyList > li{width: 28%;margin-right: 44%;margin-top: 100px;}
.specialcompanyList > li:nth-child(2n+1){text-align: right;}
.specialcompanyList > li:nth-child(2n+2){margin-right: 0;text-align: left;}
.specialcompanyList > li:nth-child(-n+2){margin-top: 0;}
.specialcompanyList > li > strong{display: block;margin-top: 10px;font-size: 25px;color: #222;font-weight: 700;line-height: 128%;letter-spacing: -0.6px;word-break: keep-all;}
.specialcompanyList > li > p{margin-top: 20px;font-size: 16px;color: #666;font-weight: 400;line-height: 150%;letter-spacing: -0.6px;word-break: keep-all;}
.dotList{margin-top: 20px;}
.dotList > li{position: relative;padding-left: 12px;font-size: 16px;color: #666;font-weight: 400;line-height: 150%;letter-spacing: -0.6px;}
.dotList > li:before{content: "";position: absolute;left: 0;top: 11px;width: 3px;height: 3px;background: #AD9F35;border-radius: 100%;}
.specialcompanyPage .mainColorRoundBox{display: block;max-width: 700px;margin: 0 auto;padding: 28px 20px;background: #AD9F35;border-radius: 100px;box-sizing: border-box;font-size: 20px;color: #FFF;font-weight: 500;line-height: 160%;letter-spacing: -0.6px;text-align: center;word-break: keep-all;}
.specialcompanyPage .mainColorRoundBox span{font-weight: 700;text-decoration-line: underline;}

.goodcompanyPage{text-align: center;}
.goodcompanyPage .textSm{margin-top: 30px;color: #444;font-size: 20px;font-weight: 400;line-height: 33px;letter-spacing: -0.6px;}
.goodcompanyPage .bgGray{background: #F9F9F9;margin-top: 70px;padding: 80px 0 100px;}
.goodcompanyPage .textMd{margin-bottom: 80px; color: #222;font-size: 25px;font-weight: 400;line-height: 40px; letter-spacing: -0.6px;word-break: keep-all;}

.packageLPage{position: relative;padding: 70px 0 180px;box-sizing: border-box;overflow: hidden;}
.packageLPage .packageVisual{background-color: #F9F9F9;background-image: url(../images/sub/bg_package_left.png);background-position: center 49px;background-repeat: no-repeat;padding: 135px 0 195px;box-sizing: border-box;}
.packageLPage .packageVisual .inner{position: relative;}
.packageLPage .packageVisual .imgBox {max-width: 1460px;width: calc(100% - 40px);padding-left: 40px;border-radius: 20px;overflow: hidden;}
.packageLPage .packageVisual .textBox {position: absolute;left: -40px;bottom: -95px;}
.packageLPage .packageVisual .textBox .mainColorBox{position: relative;background-color: #AD9F35;background-image: url(../images/sub/mark_SJ1_sm.png);background-position: calc(100% - 30px) 20px;background-repeat: no-repeat;border-radius: 10px;width: 760px;padding: 55px 40px;box-sizing: border-box;}
.packageLPage .packageVisual .textBox .mainColorBox .title{position: relative;display: inline-block;color: #222;font-size: 25px;font-weight: 500;line-height: 32px;letter-spacing: -0.6px;}
.packageLPage .packageVisual .textBox .mainColorBox .title:before{content: "";position: absolute;bottom: 0;left: 0;display: block;width: 100%;height: 5px;background: rgba(255, 255, 255, 0.3);border-radius: 5px;z-index: -1;}
.packageLPage .packageVisual .textBox .mainColorBox .title b{font-size: 30px;}
.packageLPage .packageVisual .textBox .mainColorBox .title span{font-size: 68px;color: #FFF;vertical-align: -3px;}
.packageLPage .packageVisual .textBox .mainColorBox .text{margin-top: 40px;color: #FFF;font-size: 20px;font-weight: 500;line-height: 150%;letter-spacing: -0.6px;word-break: keep-all;}
.packageLPage .packageVisual .textBox .tel{position: absolute;bottom: -26px;right: -200px;padding: 10px 0;padding-left: 92px;background-image: url(../images/sub/icon_tel.svg);background-position: left center;background-repeat: no-repeat;color: #444;font-size: 20px;font-weight: 500;line-height: 140%;letter-spacing: -0.6px;}
.packageLPage .packageVisual .textBox .tel b{color: #AD9F35;font-size: 28px;font-weight: 700;line-height: 33px;}
.packageLPage .titleMd{margin-top: 80px;text-align: center;font-size: 30px;color: #222;font-weight: 700;line-height: 32px;letter-spacing: -0.6px;}
.packageLPage .tableFlex{margin-top: 80px;display: flex;align-items: flex-start;flex-direction: row;flex-wrap: wrap;justify-content: space-between;}
.packageLPage .tableFlex > li{width: calc(50% - 10px);}
.packageLPage .textSm{margin-top: 50px;color: #444;font-size: 18px;font-weight: 400;line-height: 30px;letter-spacing: -0.6px;text-align: center;word-break: keep-all;}
.packageLPage .textXs{color: #888;font-size: 16px;font-weight: 400;line-height: 30px;letter-spacing: -0.6px;text-align: center;}

.packageRPage{position: relative;padding: 70px 0 180px;box-sizing: border-box;overflow: hidden;}
.packageRPage .packageVisual{background-color: #F9F9F9;background-image: url(../images/sub/bg_package_right.png);background-position: center 49px;background-repeat: no-repeat;padding: 135px 0 195px;box-sizing: border-box;}
.packageRPage .packageVisual .inner{position: relative;}
.packageRPage .packageVisual .imgBox {max-width: 1460px;width: calc(100% - 40px);border-radius: 20px;overflow: hidden;}
.packageRPage .packageVisual .textBox {position: absolute;right: 0;bottom: -95px;}
.packageRPage .packageVisual .textBox .mainColorBox{position: relative;background-color: #AD9F35;background-image: url(../images/sub/mark_SJ1_sm.png);background-position: calc(100% - 30px) 20px;background-repeat: no-repeat;border-radius: 10px;width: 760px;padding: 55px 40px;box-sizing: border-box;}
.packageRPage .packageVisual .textBox .mainColorBox .title{position: relative;display: inline-block;color: #222;font-size: 25px;font-weight: 500;line-height: 32px;letter-spacing: -0.6px;}
.packageRPage .packageVisual .textBox .mainColorBox .title:before{content: "";position: absolute;bottom: 0;left: 0;display: block;width: 100%;height: 5px;background: rgba(255, 255, 255, 0.3);border-radius: 5px;z-index: -1;}
.packageRPage .packageVisual .textBox .mainColorBox .title b{font-size: 30px;}
.packageRPage .packageVisual .textBox .mainColorBox .title span{font-size: 68px;color: #FFF;vertical-align: -3px;}
.packageRPage .packageVisual .textBox .mainColorBox .text{margin-top: 40px;color: #FFF;font-size: 20px;font-weight: 500;line-height: 150%;letter-spacing: -0.6px;word-break: keep-all;}
.packageRPage .packageVisual .textBox .tel{position: absolute;bottom: -26px;left: -200px;padding: 10px 0;padding-right: 92px;background-image: url(../images/sub/icon_tel.svg);background-position: right center;background-repeat: no-repeat;color: #444;font-size: 20px;font-weight: 500;line-height: 140%;letter-spacing: -0.6px;text-align: right;}
.packageRPage .packageVisual .textBox .tel b{color: #AD9F35;font-size: 28px;font-weight: 700;line-height: 33px;}
.packageRPage .titleMd{margin-top: 80px;text-align: center;font-size: 30px;color: #222;font-weight: 700;line-height: 32px;letter-spacing: -0.6px;}
.packageRPage .tableFlex{margin-top: 80px;display: flex;align-items: flex-start;flex-direction: row;flex-wrap: wrap;justify-content: space-between;}
.packageRPage .tableFlex > li{width: calc(50% - 10px);}
.packageRPage .textSm{margin-top: 50px;color: #444;font-size: 18px;font-weight: 400;line-height: 30px;letter-spacing: -0.6px;text-align: center;word-break: keep-all;}
.packageRPage .textXs{color: #888;font-size: 16px;font-weight: 400;line-height: 30px;letter-spacing: -0.6px;text-align: center;}

.tableData {border-top: 2px solid #AD9F35;border-left: 1px solid #ddd;border-right: 1px solid #ddd;text-align: center;}
.tableData th, .tableData td {height: 62px;padding: 10px 15px;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;box-sizing: border-box;letter-spacing: -0.6px;}
.tableData th {background: #F6F6F6;font-size: 17px;color: #222;font-weight: 700;}
.tableData td {font-size: 16px;color: #444;font-weight: 400;}
.tableData thead + tbody tr th{background: #FCFCFC;font-weight: 400;}
.tableData th:first-child, .tableData td:first-child{border-left: 0;}
.tableData th.bgColor{background: #EEECDF;color: #AD9F35;}
.tableData td.bgColor{background: #FBFAF5;color: #AD9F35;}
.tableData .borderL{border-left: 1px solid #ddd !important;}

.subTopMenu{display: flex;align-items: center;justify-content: center;flex-direction: row;flex-wrap: wrap;max-width: 1500px;margin: 0 auto;padding-bottom: 50px;box-sizing: border-box;}
.subTopMenu > li{width: calc(16.66% - 10px);}
.subTopMenu > li + li{margin-left: 12px;}
.subTopMenu > li > a{display: flex;align-items: center;justify-content: center;height: 70px;background: #FFF;border: 1px solid #E1E1E1;border-radius: 50px;box-sizing: border-box;font-size: 18px;color: #444;font-weight: 500;letter-spacing: -0.6px;text-align: center;-webkit-transition: .3s;transition: .3s;}
.subTopMenu > li.on > a, .subTopMenu > li > a:hover{background: #AD9F35;border-color: #AD9F35;color: #fff;font-weight: 700;}

.serviceTop{position: relative;max-width: 1500px;/* margin: 100px auto 0; *//* padding-bottom: 163px; */margin: 0 auto; padding: 0 0 100px;overflow: hidden;}
.serviceTop .textArea{position: relative;/* padding-top: 10px; */z-index: 1;}
.serviceTop .textArea h5{position: relative;display: inline-block;font-size: 36px;color: #D6D6D6;font-weight: 700;line-height: 120%;letter-spacing: -1px;}
.serviceTop .textArea h5:after{content: "";position: absolute;left: 0;bottom: 0;width: 100%;height: 8px;background: #F3F3F3;z-index: -1;}
.serviceTop .textArea .textLg{/* margin-top: 35px; */font-size: 36px;color: #222;font-weight: 300;line-height: 140%;letter-spacing: -1px;word-break: keep-all;}
.serviceTop .textArea .textMd{margin-top: 30px;font-size: 18px;color: #444;font-weight: 400;line-height: 150%;letter-spacing: -0.6px;word-break: keep-all;}
.serviceTop .imgArea{position: absolute;right: 0;top: 0;}
.serviceTop .imgArea .tel{position: absolute;right: 210px;top: 8px;display: inline-block;padding: 20px 21px 20px 81px;background-image: url(../images/sub/icon_tel.svg);background-color: #F6F6F6;background-position: 20px center;background-size: 50px;background-repeat: no-repeat;border-radius: 10px;box-sizing: border-box;color: #444;font-size: 16px;font-weight: 500;line-height: 130%;letter-spacing: -0.6px;}
.serviceTop .imgArea .tel b{color: #AD9F35;font-size: 22px;font-weight: 700;line-height: 130%;letter-spacing: -0.6px;}

.serviceVisual{position: relative;padding: 5% 0 7%;background: #F9F9F9;box-sizing: border-box;overflow: hidden;}
.serviceVisual:before{content: "";position: absolute;left: 0;top: 140px;width: 33.3%;height: 65%;background: #AD9F35;}
.serviceVisualInner{max-width: 1500px;margin: 0 auto;display: flex;flex-direction: row;flex-wrap: wrap;}
.serviceVisual .imgArea{position: relative;width: calc(50% - 50px);padding-left: 40px;}
.serviceVisual .imgArea figure{width: 100%;border-radius: 0 0 50px 0;overflow: hidden;}
.serviceVisual .textArea{margin-left: 70px;}
.serviceVisual .textArea .num{font-size: 25px;color: #AD9F35;font-weight: 700;line-height: 128%;letter-spacing: -0.6px;}
.serviceVisual .textArea .title{position: relative;margin-top: 15px;font-size: 42px;color: #000;font-weight: 700;line-height: 130%;letter-spacing: -0.6px;}
.serviceVisual .textArea .title:after{content: "";position: absolute;left: 0;bottom: 0;width: 100%;height: 20px;background: rgba(173, 159, 53, 0.3);z-index: -1;}
.serviceVisual .textArea .text{margin-top: 30px;font-size: 20px;color: #444;font-weight: 400;line-height: 165%;letter-spacing: -0.6px;word-break: keep-all;}

.statementText{padding: 100px 0;box-sizing: border-box;text-align: center;}
.statementText strong{font-size: 30px;color: #222;font-weight: 700;line-height: 105%;letter-spacing: -0.6px;}
.statementText strong span{font-size: 60px;color: #AD9F35;font-weight: 400;}
.statementText p{margin-top: 25px;font-size: 25px;color: #222;font-weight: 400;line-height: 160%;letter-spacing: -0.6px;}

.restoreCenter{max-width: 1500px;margin: 0 auto 200px;overflow: hidden;}
.restoreCenter ul{border-top: 1px solid #C2C2C2;border-bottom: 1px solid #C2C2C2;box-sizing: border-box;}
.restoreCenter ul li{display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;justify-content: flex-start;padding: 80px 290px 80px 0;background-position: right bottom;background-repeat: no-repeat;box-sizing: border-box;}
.restoreCenter ul li:nth-child(1){background-image: url(../images/sub/img_restoreCenter01.png);}
.restoreCenter ul li:nth-child(2){background-image: url(../images/sub/img_restoreCenter02.png);}
.restoreCenter ul li + li{border-top: 1px dashed #C2C2C2;}
.restoreCenter ul li .title{position: relative;display: flex;align-items: center;justify-content: center;flex-direction: row;width: 200px;height: 200px;background: #E6E3C8;border: 1px solid #AD9F35;border-radius: 100%;box-sizing: border-box;font-size: 30px;color: #222;font-weight: 700;line-height: 130%;letter-spacing: -0.6px;text-align: center;}
.restoreCenter ul li .title em{position: absolute;top: -20px;left: 50%;transform: translateX(-50%);display: flex;align-items: center;justify-content: center;width: 42px;height: 42px;background: #AD9F35;border-radius: 100%;box-sizing: border-box;font-size: 18px;color: #FFF;font-weight: 700;line-height: 32px;letter-spacing: -0.6px;text-align: center;}
.restoreCenter ul li .text{width: calc(100% - 200px);padding-left: 80px;box-sizing: border-box;font-size: 18px;color: #666;font-weight: 400;line-height: 150%;letter-spacing: -0.6px;word-break: keep-all;}
.restoreCenter .btnGroup{margin-top: 80px;}

.relocateStep{max-width: 1500px;margin: 0 auto;padding: 80px 0 100px;box-sizing: border-box;}
.relocateStepTitle{text-align: center;}
.relocateStepTitle strong{font-size: 30px;color: #222;font-weight: 700;line-height: 150%;letter-spacing: -0.6px;word-break: keep-all;}
.relocateStepTitle p{margin-top: 30px;font-size: 25px;color: #222;font-weight: 400;line-height: 160%;letter-spacing: -0.6px;}
.relocateStep ul{display: flex;justify-content: space-between;align-items: stretch;flex-direction: row;flex-wrap: wrap;padding-top: 100px;box-sizing: border-box;}
.relocateStep ul li{position: relative;width: calc(16.66% - 90px);margin-left: 100px;margin-top: 85px;}
.relocateStep ul li:nth-child(6n+1){margin-left: 0;}
.relocateStep ul li:nth-child(-n+6){margin-top: 0;}
.relocateStep ul li .icon{position: relative;width: 100%;padding-bottom: 100%;background-color: #fff;background-position: center;background-repeat: no-repeat;border: 1px solid #AD9F35;border-radius: 100%;box-sizing: border-box;}
.relocateStep ul li:nth-child(1) .icon{background-image: url(../images/sub/icon_relocateStep01.svg);}
.relocateStep ul li:nth-child(2) .icon{background-image: url(../images/sub/icon_relocateStep02.svg);}
.relocateStep ul li:nth-child(3) .icon{background-image: url(../images/sub/icon_relocateStep03.svg);}
.relocateStep ul li:nth-child(4) .icon{background-image: url(../images/sub/icon_relocateStep04.svg);}
.relocateStep ul li:nth-child(5) .icon{background-image: url(../images/sub/icon_relocateStep05.svg);}
.relocateStep ul li:nth-child(6) .icon{background-image: url(../images/sub/icon_relocateStep06.svg);}
.relocateStep ul li:nth-child(7) .icon{background-image: url(../images/sub/icon_relocateStep07.svg);}
.relocateStep ul li:nth-child(8) .icon{background-image: url(../images/sub/icon_relocateStep08.svg);}
.relocateStep ul li:nth-child(9) .icon{background-image: url(../images/sub/icon_relocateStep09.svg);}
.relocateStep ul li:nth-child(10) .icon{background-image: url(../images/sub/icon_relocateStep10.svg);}
.relocateStep ul li:nth-child(11) .icon{background-image: url(../images/sub/icon_relocateStep11.svg);}
.relocateStep ul li:nth-child(12) .icon{background-image: url(../images/sub/icon_relocateStep12.svg);}
.relocateStep ul li .icon:before{content: "";position: absolute;left: calc(-50% + 11px);top: calc(50% - 13px);width: 21px;height: 26px;background-image: url(../images/sub/icon_step_arrow.svg);background-position: center;background-size: 100%;background-repeat: no-repeat;}
.relocateStep ul li:nth-child(6n+1) .icon:before{display: none;}
.relocateStep ul li .icon em{position: absolute;top: -13px;left: 50%;transform: translateX(-50%);display: flex;align-items: center;justify-content: center;width: 42px;height: 42px;background: #E6E3C8;border-radius: 100%;box-sizing: border-box;font-size: 18px;color: #222;font-weight: 700;line-height: 32px;letter-spacing: -0.6px;text-align: center;}
.relocateStep ul li .text{margin-top: 20px;font-size: 18px;color: #222;font-weight: 500;line-height: 135%;letter-spacing: -0.6px;text-align: center;word-break: keep-all;}
.relocateTable{padding: 100px 0;background: #F6F6F6;box-sizing: border-box;text-align: center;}

.researchWrap{padding: 80px 0 150px;background: #F9F9F9;box-sizing: border-box;}
.researchInner{max-width: 1500px;margin: 0 auto;}
.researchWrap .comment{display: flex;justify-content: center;padding-bottom: 80px;}
.researchWrap .comment p{border-left: 1px solid #000;padding-left: 10px;box-sizing: border-box;font-size: 18px;color: #444;font-weight: 400;line-height: 160%;letter-spacing: -0.6px;word-break: keep-all;}
.researchWrap ol{display: flex;}
.researchWrap ol li{position: relative;width: calc(33.3% - 20px);min-height: 230px;padding: 40px;border: 1px solid rgba(173, 159, 53, 1);border-radius: 20px;background: #FFF;box-sizing: border-box;overflow: hidden;}
.researchWrap ol li + li{margin-left: 30px;}
.researchWrap ol li em{position: absolute;bottom: -19px;right: 0;font-size: 65px;color: rgba(173, 159, 53, 0.2);font-weight: 700;line-height: normal;letter-spacing: -0.6px;}
.researchWrap ol li strong{font-size: 24px;color: #222;font-weight: 700;line-height: 125%;letter-spacing: -0.6px;}
.researchWrap ol li p{margin-top: 10px;font-size: 18px;color: #666;font-weight: 400;line-height: 150%;letter-spacing: -0.6px;word-break: keep-all;}
.researchWrap .btnGroup{margin-top: 80px;}

@media screen and (max-width: 1499px){

    .subContent .inner{padding: 0 20px;box-sizing: border-box;}

    .ceoPage .bgGray .inner{display: flex;flex-direction: column;box-sizing: border-box;}
    .ceoPage .ceoMessages{order: 2;}
    .ceoPage .ceoImg{order: 1;position: relative;right: auto;top: auto;max-width: 475px;margin: 0 auto 100px;}
    .ceoPage .ceoImg .imgBox02{left: -120px;bottom: 250px;width: 170px;height: 200px;}
    .ceoPage .ceoImg .ceoWrap{right: 95px;}
    .ceoPage .comment{margin: 50px auto 0;}

    .specialcompanyList > li > p > br{display: none;}
    
    .packageLPage .packageVisual{background-size: contain;}
    .packageLPage .packageVisual .textBox{left: 20px;bottom: -120px;width: 60%;}
    .packageLPage .packageVisual .textBox .mainColorBox{width: 100%;padding: 40px 30px;}
    .packageLPage .packageVisual .textBox .tel{right: -200px;}
    .packageLPage .packageVisual .textBox .mainColorBox .title{font-size: 20px;}
    .packageLPage .packageVisual .textBox .mainColorBox .title span{font-size: 58px;}
    .packageLPage .packageVisual .textBox .mainColorBox .title b{font-size: 25px;}
    .packageLPage .packageVisual .imgBox{width: calc(100% - 20px);padding-left: 20px;}

    .packageRPage .packageVisual{background-size: contain;}
    .packageRPage .packageVisual .textBox{right: 20px;bottom: -120px;width: 60%;}
    .packageRPage .packageVisual .textBox .mainColorBox{width: 100%;padding: 40px 30px;}
    .packageRPage .packageVisual .textBox .tel{left: -220px;}
    .packageRPage .packageVisual .textBox .mainColorBox .title{font-size: 20px;}
    .packageRPage .packageVisual .textBox .mainColorBox .title span{font-size: 58px;}
    .packageRPage .packageVisual .textBox .mainColorBox .title b{font-size: 25px;}
    .packageRPage .packageVisual .imgBox{width: calc(100% - 20px);}

    .subTopMenu{padding: 0 20px 20px;}
    .subTopMenu > li{width: calc(33.33% - 8px);margin-top: 10px;margin-left: 12px;}
    .subTopMenu > li:nth-child(-n+3){margin-top: 0;}
    .subTopMenu > li:nth-child(3n+1){margin-left: 0;}
    .subTopMenu > li > a{height: 60px;font-size: 16px;}

    .serviceTop{padding: 0 20px 50px;}
    .serviceTop .textArea{width: 60%;}
    .serviceTop .imgArea{width: 40%;}

    .serviceVisual{padding: 5% 20px 7%;}
    .serviceVisual:before{display: none;}
    .serviceVisual .imgArea{width: 50%;padding-left: 0;}
    .serviceVisual .imgArea:before{content: "";position: absolute;left: -20px;top: 20px;width: 100%;height: 100%;background: #AD9F35;}
    
    .serviceVisual .textArea{width: 50%;padding-left: 30px;margin-left: 0;box-sizing: border-box;}
    
    .statementText{padding: 100px 20px;}
    .restoreCenter{padding: 0 20px;box-sizing: border-box;}
    .restoreCenter ul li{padding: 40px 150px 60px 0;}
    .restoreCenter ul li .text{padding-left: 40px;}

    .relocateStep{padding: 80px 20px 100px;}
    .relocateStep ul li{width: calc(16.66% - 40px);margin-left: 48px;}
    .relocateStep ul li .icon:before{left: -30px;top: calc(50% - 7px);width: 11px;height: 13px;}
    .relocateStep ul li .text br{display: none;}
    .relocateTable{padding: 100px 20px;}

    .researchWrap{padding: 80px 20px 150px;}
    .researchWrap ol li p br{display: none;}

}

@media screen and (max-width: 1199px){
    
    .specialcompanyPage .centerText{position: relative;top: auto;left: auto;transform: translate(0, 0);/* width: 350px; *//* height: 350px; */width: 100%;max-width: 350px;height: calc(100vw - 40px);max-height: 350px;padding: 0;margin: 0 auto;}
    .specialcompanyPage .centerText p{font-size: 15px;}
    .specialcompanyPage .centerText h5{font-size: 28px;}
    .specialcompanyList{min-height: auto;margin-top: 50px;}
    .specialcompanyList > li{width: calc(50% - 10px);padding: 15px;margin-right: 20px;margin-top: 20px;box-sizing: border-box;}
    .specialcompanyList > li:nth-child(2n+1){text-align: left;}

    .packageLPage .tableFlex > li{width: 100%;}
    .packageLPage .tableFlex > li + li{margin-top: 35px;}
    .packageRPage .tableFlex > li{width: 100%;}
    .packageRPage .tableFlex > li + li{margin-top: 35px;}

    .serviceTop .textArea{width: 55%;}
    .serviceTop .textArea h5{font-size: 30px;}
    .serviceTop .textArea .textLg{font-size: 26px;}
    .serviceTop .textArea .textMd{font-size: 16px;}
    .serviceTop .imgArea{right: 20px;width: 44%;}
    .serviceTop .imgArea .tel{left: auto;right: 130px;padding: 15px 16px 15px 75px;background-position: 15px center;}
    .serviceTop .imgArea .tel b{font-size: 20px;}

    .serviceVisual:before{height: 60%;}
    .serviceVisual .textArea .num{font-size: 20px;}
    .serviceVisual .textArea .title{margin-top: 10px;font-size: 32px;}
    .serviceVisual .textArea .text{margin-top: 20px;font-size: 16px;}

    .restoreCenter ul li{padding: 65px 0 200px;}
    .restoreCenter ul li .title{margin: 0 auto 50px;}
    .restoreCenter ul li .text{width: 100%;padding-left: 0;}

    .relocateStep ul li{width: calc(25% - 40px);margin-left: 48px;margin-top: 50px;}
    .relocateStep ul li:nth-child(6n+1){margin-left: 48px;}
    .relocateStep ul li:nth-child(-n+6){margin-top: 50px;}
    .relocateStep ul li:nth-child(4n+1){margin-left: 0;}
    .relocateStep ul li:nth-child(-n+4){margin-top: 0;}
    .relocateStep ul li .icon:before{left: -30px;top: calc(50% - 7px);width: 11px;height: 13px;}
    .relocateStep ul li:nth-child(6n+1) .icon:before{display: block;}
    .relocateStep ul li:nth-child(4n+1) .icon:before{display: none;}
    .relocateStep ul li .icon em{font-size: 16px;}
    .relocateStep ul li .text{margin-top: 10px;font-size: 16px;}
    
    .researchWrap{padding: 80px 20px 150px;}
    .researchWrap ol{flex-direction: column;}
    .researchWrap ol li{width: 100%;min-height: auto;}
    .researchWrap ol li + li{margin-left: 0;margin-top: 20px;}
}

@media screen and (max-width: 767px){

    .btn{font-size: 14px;}
    .btn i.iconArrow{width: 13px;height: 11px;vertical-align: -1px;}
    .btn i.iconDown{width: 11px;height: 14px;vertical-align: -2px;}
    .mWFull{width: 100%;}
    .mH50{height: 50px;line-height: 50px;}

    #subVisual{padding: 33% 0 18%;}
    #subVisual .visualbg.bg01:before{background-image: url(../images/sub/bg_subVisual01_m.jpg);}
    #subVisual .visualbg.bg02:before{background-image: url(../images/sub/bg_subVisual02_m.jpg);}
    #subVisual .visualbg.bg03:before{background-image: url(../images/sub/bg_subVisual03_m.jpg);}
    #subVisual .visualtext p{font-size: 16px;line-height: 20px;}
    #subVisual .visualtext h2{margin: 10px 0 30px;font-size: 40px;line-height: 40px;}
    #subVisual .lnb li a, #subVisual .lnb li button{font-size: 14px;}
    #subVisual .lnb > li > a, #subVisual .lnb li button{padding: 0 30px 0 15px;}
    #subVisual .lnb .depth02{min-width: 130px;padding: 10px 10px 10px 17px;}
    #subVisual .lnb .depth02 li a{font-size: 13px;}

    .subContent{padding: 40px 0 0;}
    .subContent .subTitle{font-size: 30px;}

    .ceoPage{padding: 40px 0 100px;}
    .ceoPage .bgGray{padding: 30px 0;}
    .ceoPage .ceoImg{width: 100%;max-width: none;left: auto;margin: 0 auto 30px;}
    .ceoPage .ceoImg .imgBox02{bottom: auto;top: 165px;left: -15px;width: 90px;height: 100px;}
    .ceoPage .ceoImg .markS{top: 37px;left: -20px;width: 58px;height: 99px;background-image: url(../images/sub/mark_S_m.png);}
    .ceoPage .ceoImg .markJ{bottom: -25px;right: 9px;width: 30px;height: 84px;background-image: url(../images/sub/mark_J_m.png);}
    .ceoPage .ceoImg .ceoWrap{bottom: 20px;right: 20px;width: calc(100% - 40px);min-width: auto;}
    .ceoPage .ceoImg .ceoWrap .ceoInfo .name{font-size: 11px;}
    .ceoPage .ceoImg .ceoWrap .ceoInfo .name b{font-size: 15px;}
    .ceoPage .ceoImg .ceoWrap .ceoInfo .career{font-size: 11px;}
    .ceoPage .ceoImg .ceoWrap .ceoList{padding: 10px;margin-top: 9px;}
    .ceoPage .ceoImg .ceoWrap .ceoList .checkList li{font-size: 12px;}
    .ceoPage .ceoImg .ceoWrap .ceoList .dotList li{font-size: 11px;line-height: 18px;}
    .ceoPage .ceoImg .ceoWrap .ceoList .dotList li:before{top: 9px;}
    .ceoPage .ceoMessages .mainColorBox{width: 75px;height: 75px;border-radius: 0px 18px;font-size: 14px;}
    .ceoPage .ceoMessages .textLg{margin-top: 20px;font-size: 24px;line-height: 32px;}
    .ceoPage .ceoMessages .textMd{margin-top: 20px;font-size: 16px;}
    .ceoPage .comment{margin-top: 20px;}
    .ceoPage .comment .textSm{font-size: 15px;line-height: 23px;}
    .ceoPage .comment .sign{margin-top: 30px;}

    .specialcompanyPage{padding-bottom: 100px;}
    .specialcompanyPage .bgGray{margin-top: 40px;margin-bottom: 114px;padding: 50px 0 70px;}
    .specialcompanyPage .bgGray:after{bottom: -85px;width: 316px;height: 125px;background-image: url(../images/sub/after_specialcompanyPage_m.png);}
    .specialcompanyList{margin-top: 30px;}
    .specialcompanyList > li{width: 100%;padding: 20px;margin-right: 0;background-color: #fff;border: 1px solid rgba(173, 159, 53, 0.3);border-radius: 10px;box-sizing: border-box;}
    .specialcompanyList > li:nth-child(-n+2){margin-top: 20px;}
    .specialcompanyList > li > img{position: absolute;left: 20px;top: 20px;width: 45px;height: 45px;}
    .specialcompanyList > li > br{display: none;}
    .specialcompanyList > li > strong{display: flex;align-items: center;height: 45px;padding-left: 55px;margin-top: 0;font-size: 18px;}
    .specialcompanyList > li > p{margin-top: 15px;font-size: 15px;}
    .dotList{margin-top: 15px;}
    .dotList > li{font-size: 15px;}
    .specialcompanyPage .mainColorRoundBox{padding: 20px 45px;font-size: 16px;}

    .goodcompanyPage .textSm{margin-top: 20px;font-size: 16px;line-height: 24px;}
    .goodcompanyPage .bgGray{margin-top: 50px;padding: 40px 0 50px;}
    .goodcompanyPage .textMd{margin-bottom: 40px;font-size: 18px;line-height: 28px;}

    .packageLPage{padding: 40px 0 95px}
    .packageLPage .packageVisual{padding: 65px 0 160px;background-image: url(../images/sub/bg_package_left_m.png);background-size: calc(100% - 40px) auto;background-position: center 20px;}
    .packageLPage .packageVisual .imgBox{width: calc(100% - 30px);padding: 0 20px;border-radius: 10px;}
    .packageLPage .packageVisual .textBox{bottom: -50px;width: calc(100% - 70px);}
    .packageLPage .packageVisual .textBox .mainColorBox{padding: 20px 15px;background-size: 30px 34px;background-position: calc(100% - 10px) 10px;border-radius: 5px;}
    .packageLPage .packageVisual .textBox .mainColorBox .title{font-size: 17px;}
    .packageLPage .packageVisual .textBox .mainColorBox .title:before{height: 3px;}
    .packageLPage .packageVisual .textBox .mainColorBox .title span{font-size: 36px;}
    .packageLPage .packageVisual .textBox .mainColorBox .title b{font-size: 20px;}
    .packageLPage .packageVisual .textBox .mainColorBox .text{margin-top: 20px;font-size: 14px;}
    .packageLPage .packageVisual .textBox .tel{right: -20px;bottom: -65px;text-align: right;background-size: 50px;background-position: right top;padding: 30px 60px 0 0;font-size: 14px;line-height: 25px;}
    .packageLPage .packageVisual .textBox .tel b{font-size: 23px;line-height: 25px;}
    .packageLPage .titleMd{margin-top: 40px;font-size: 25px;}
    .packageLPage .tableFlex{margin-top: 33px;}
    .packageLPage .textSm{margin-top: 30px;font-size: 14px;line-height: 18px;}
    .packageLPage .textXs{font-size: 13px;}

    .packageRPage{padding: 40px 0 95px}
    .packageRPage .packageVisual{padding: 65px 0 160px;background-image: url(../images/sub/bg_package_right_m.png);background-size: calc(100% - 40px) auto;background-position: center 20px;}
    .packageRPage .packageVisual .imgBox{width: calc(100% - 30px);padding: 0 20px;border-radius: 10px;}
    .packageRPage .packageVisual .textBox{bottom: -50px;width: calc(100% - 70px);}
    .packageRPage .packageVisual .textBox .mainColorBox{padding: 20px 15px;background-size: 30px 34px;background-position: calc(100% - 10px) 10px;border-radius: 5px;}
    .packageRPage .packageVisual .textBox .mainColorBox .title{font-size: 17px;}
    .packageRPage .packageVisual .textBox .mainColorBox .title:before{height: 3px;}
    .packageRPage .packageVisual .textBox .mainColorBox .title span{font-size: 36px;}
    .packageRPage .packageVisual .textBox .mainColorBox .title b{font-size: 20px;}
    .packageRPage .packageVisual .textBox .mainColorBox .text{margin-top: 20px;font-size: 14px;}
    .packageRPage .packageVisual .textBox .tel{left: -20px;bottom: -65px;text-align: left;background-size: 50px;background-position: left top;padding: 30px 0 0 60px;font-size: 14px;line-height: 25px;}
    .packageRPage .packageVisual .textBox .tel b{font-size: 23px;line-height: 25px;}
    .packageRPage .titleMd{margin-top: 40px;font-size: 25px;}
    .packageRPage .tableFlex{margin-top: 33px;}
    .packageRPage .textSm{margin-top: 30px;font-size: 14px;line-height: 18px;}
    .packageRPage .textXs{font-size: 13px;}

    .tableScroll{overflow: auto;-webkit-overflow-scrolling: touch;clear: both;scrollbar-color: #222 #EBEBEB;scrollbar-width: thin;}
    .tableScroll::-webkit-scrollbar {width: 4px;border-radius: 40px;}/* 스크롤 바 */
    .tableScroll::-webkit-scrollbar-track {background-color: #EBEBEB;border-radius: 40px;}/* 스크롤 바 밑의 배경 */
    .tableScroll::-webkit-scrollbar-thumb {background: #222;border-radius: 40px;}/* 실질적 스크롤 바 */
    .tableScroll::-webkit-scrollbar-thumb:hover {background: #000;}/* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */
    .tableScroll::-webkit-scrollbar-thumb:active {background: #000;}/* 실질적 스크롤 바를 클릭할 때 */
    .tableScroll table{min-width: 767px;}
    
    .subTopMenu > li{width: calc(50% - 5px);margin-left: 10px !important;}
    .subTopMenu > li:nth-child(-n+3){margin-top: 10px;}
    .subTopMenu > li:nth-child(-n+2){margin-top: 0 !important;}
    .subTopMenu > li:nth-child(3n+1){margin-left: 10px;}
    .subTopMenu > li:nth-child(2n+1){margin-left: 0 !important;}
    .subTopMenu > li > a{height: 45px;font-size: 14px;}

    .serviceTop{margin: 0 auto;padding: 0 20px;}
    .serviceTop .textArea{width: 100%;padding-top: 0;}
    .serviceTop .textArea h5{font-size: 24px;}
    .serviceTop .textArea .textLg{margin-top: 20px;font-size: 24px;}
    .serviceTop .textArea .textMd{margin-top: 20px;font-size: 16px;}
    .serviceTop .imgArea{position: relative;top: auto;right: auto;width: 100%;margin-top: 20px;}
    .serviceTop .imgArea .tel{top: 19px;left: 0;right: auto;font-size: 14px;}

    .serviceVisual{padding: 60px 20px 50px;}
    .serviceVisual .imgArea{width: 100%;}
    .serviceVisual .imgArea figure{border-radius: 0 0 20px 0;}
    .serviceVisual .textArea{width: 100%;margin-top: 60px;padding-left: 0;}
    .serviceVisual .textArea .num{font-size: 16px;}
    .serviceVisual .textArea .title{font-size: 25px;}
    .serviceVisual .textArea .text{font-size: 15px;line-height: 150%;}

    .statementText{padding: 50px 20px;}
    .statementText strong{font-size: 22px;}
    .statementText strong span{font-size: 45px;}
    .statementText p{margin-top: 10px;font-size: 18px;}

    .restoreCenter{margin-bottom: 100px;}
    .restoreCenter ul li .title{width: 140px;height: 140px;font-size: 22px;}
    .restoreCenter ul li .title em{top: -15px;width: 30px;height: 30px;font-size: 14px;}
    .restoreCenter ul li .text{width: 100%;padding-left: 0;font-size: 15px;}
    .restoreCenter .btnGroup{margin-top: 45px;}
    
    .relocateStep{padding: 50px 20px;}
    .relocateStepTitle strong{font-size: 22px;}
    .relocateStepTitle p{margin-top: 25px;font-size: 18px;}
    .relocateStep ul{max-width: 400px;margin: 0 auto;padding-top: 62px;}
    .relocateStep ul li{width: calc(50% - 25px);margin-left: 50px;margin-top: 40px;}
    .relocateStep ul li:nth-child(6n+1), .relocateStep ul li:nth-child(4n+1){margin-left: 50px;}
    .relocateStep ul li:nth-child(-n+6), .relocateStep ul li:nth-child(-n+4){margin-top: 40px;}
    .relocateStep ul li:nth-child(2n+1){margin-left: 0;}
    .relocateStep ul li:nth-child(-n+2){margin-top: 0;}
    .relocateStep ul li .icon:before{left: -30px;top: calc(50% - 7px);width: 11px;height: 13px;}
    .relocateStep ul li:nth-child(6n+1) .icon:before, .relocateStep ul li:nth-child(4n+1) .icon:before{display: block;}
    .relocateStep ul li:nth-child(2n+1) .icon:before{display: none;}
    .relocateStep ul li .icon em{width: 38px;height: 38px;font-size: 16px;}
    .relocateStep ul li .text{font-size: 15px;}

    .relocateTable{padding: 50px 20px;}

    .researchWrap{padding: 50px 20px 100px;}
    .researchWrap .comment{padding-bottom: 50px;}
    .researchWrap .comment p{font-size: 14px;}
    .researchWrap ol li{padding: 30px 30px 40px 20px;border-radius: 10px;}
    .researchWrap ol li em{bottom: -13px;font-size: 45px;}
    .researchWrap ol li strong{font-size: 18px;}
    .researchWrap ol li p{font-size: 15px;}
    .researchWrap .btnGroup{margin-top: 50px;}
}

@keyframes scale{ 
	0%{transform: scale(1.2);}
	100%{transform: scale(1);}
}